@media screen and (min-width:1400px) {
  #warp {
     -webkit-transform:scale(1.2);
     -webkit-transform-origin:50% 0%;
   transform:scale(1.2);
   transform-origin:50% 0%;
   }
 }

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  background-color: rgb(245, 234, 214);
  -webkit-font-smoothing: antialiased;
}

.principal {
  flex-direction: column;
  margin: auto;
  height: 100%;
  display: flex;
}

.elementor-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  position: absolute;
  z-index: 5;
}


.bton {
  width: 210px;
  list-style-type: none;
  position: relative;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 1.25rem;
  text-align: center;
  padding: 7px 57px;
  transition: all 0.244s cubic-bezier(1, -0.01, 0, 1);
  text-decoration: none;
  font-family:'Segoe UI';
}
.botonsalon {
  margin-top: 50px;
  border-radius: 40px;
}
.botondelivery {
  margin-top: 10px;
  border-radius: 40px;
}

button:hover:not(.active) {
  background-color: rgba(0, 255, 191, 0.082);
}

.texto-bienvenida h1 {
  font-size: 60px;
  border: #fff;
  text-align: center;
  margin-bottom: 42px;
}

.texto-bienvenida p {
  text-align: center;
  margin-bottom: 10px;
}

*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/*////////////////////////////////////////////*/
/*////////////////  DELIVERY  ////////////////*/
/*////////////////////////////////////////////*/



.principal{
  width: 66%;
  background-color: white;
  margin: auto;
  height: 1080px;
}

.nav-principal{
  min-height: 0%;
  position: relative;
  background-color: rgb(255, 220, 66);
}

.nav-principal ul {
  padding-left: 0px;
}

.nav-row{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-column{
  width: 66%;
}

.navegacion{
    padding: 0.65rem 0;
    width: 76%;
    max-width: 3;
    margin: 0 auto;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
li {
    float: left;
    margin-left: 0px;
 }

ul li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 7px 8px;
    margin: 1px;
    transition: all 0.244s cubic-bezier(1, -0.01, 0, 1);
    border-radius: 40px;
    text-decoration: none;
    font-family:'Segoe UI';
  }

li a:hover:not(.active) {
    background-color: rgba(70, 3, 77, 0.226);
  }

.nav-menu{
  display: flex;
  margin: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.section-menu{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 25px;
}

.image-placeholder{
  max-width: 100%;
}

.image-placeholder img{
  border: 4px solid rgba(0,0,0,.125);
}

.mid-menu{
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  margin: 3px;
}

.nav-5a41bc0{
  width: 25%;
}

.menu-aside{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 25px;
}

.aside-body{
  margin: auto;
  display: flex;
}

.aside-main{
  display: flex;
  margin: auto;
  width: 90%;
}

.p-4{
  margin: auto;
}




#li-start{
  display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    border: 3px solid rgba(0,0,0);
    width: 150px;
    padding: 0px 0px;
    margin: 0px;
    transition: all 0.244s linear;
    border-radius: 40px;
    text-decoration: none;
    font-family:'Segoe UI';
  background-color: aqua;
}
#sec-region-main{
    overflow-x: auto;
    overflow-y: visible;
    display: flex;
    background-color: #fffeb5;
    border: 1px solid rgba(0,0,0);
    padding: 1.25rem;
    border-radius: 10px;
}
#sec-aside-main {
  margin: 4px;
  display: flex;
  border: 1px solid rgba(0,0,0);
  background-color: #fffeb5;
  padding: 1.25rem;
  border-radius: 10px;
}



/*/////////////////////////////////////////////*/
/*//////////////////  LOGIN  //////////////////*/
/*/////////////////////////////////////////////*/


body {
  background: #fff5c0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fff5c0, #fff5c0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fff5c0, #fff5c0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  background-color: white;
  height: 800px;
  margin: 0;
}

.cajalogin {
  margin: auto;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 90px;
  border: black;
}

.navegacion-1{
  padding: 0.65rem 0;
  justify-content: right;
}

.textousuario {
  margin: 13px;
}

.logueo {
  margin: 15px;
}

.boton-enviar {
  margin: 15px;
}

.card {
  position: relative;
  display: flex;
  width: 50%;
  padding: 0;
  margin: auto;
}