<main class="main-profile" *ngIf="!viewSignIn">
    <h2>Iniciar Sesión</h2>
    <form class="form-profile" onsubmit="" novalidate>
      <div class="form-buttons d-flex justify-content-center">
        <button type="button" class="btn btn-warning m-2 active">Iniciar Sesión</button>
        <button type="button" class="btn btn-warning m-2" (click)="cambiarVista()">Registrarme</button>
      </div>
      <div class="row mb-3 mt-4 d-flex justify-content-center">
        <div class="col-sm-10">
          <input type="email" class="input-form form-control" id="inputEmail3" placeholder="Email" required>
        </div>
      </div>
      <div class="row mb-4d-flex justify-content-center">
        <div class="col-sm-10">
          <input type="password" class="input-form form-control" id="inputPassword3" placeholder="Contraseña" required onclick="validatePassword()" maxlength="10">
        </div>
      </div>

      <button type="submit" class="btn btn-warning mt-4">Ingresar</button>
    </form>
  </main>

  <main class="main-profile" *ngIf="viewSignIn">
    <h2>Registrarme</h2>
    <form class="form-profile">
      <div class="form-buttons d-flex justify-content-center">
        <button type="button" class="btn btn-warning m-2" (click)="cambiarVista()">Iniciar Sesión</button>
        <button type="button" class="btn btn-warning m-2 active">Registrarme</button>
      </div>
      <div class="col-12">
        <input type="text" class="input-form form-control" id="inputAddress" placeholder="Nombre y Apellido" required>
      </div>
      <div class="col-12">
        <input type="text" class="input-form form-control" id="inputAddress2" placeholder="Identificación" required>
      </div>
      <div class="col-md-12">
        <input type="email" class="input-form form-control" id="inputEmail4" placeholder="Email" required>
      </div>
      <div class="col-md-12">
        <input type="password" class="input-form form-control" id="inputPassword4" placeholder="Contraseña" required>
      </div>

      <button type="submit" class="btn btn-warning mt-4">Registrarme</button>
    </form>
  </main>
