<footer>
  <div class="pre-footer">
    <!-- <h5>LOGO CARTA DIGITAL</h5> -->
    <img src="assets/img/menu.png" class="logo" alt="" />
    <p>©2022 · Todos los derechos reservados | Desarrollado por <a href="https://tuwebapp.com.ar/">Tuwebapp</a></p>
    <div class="icons">
      <a href=""><i class="fa fa-facebook"></i></a>
      <a href=""><i class="fa fa-instagram"></i></a>
      <a href=""><i class="fa fa-linkedin"></i></a>
    </div>
  </div>
  <hr>
  <div class="legales">
        <a href="">Política Privacidad</a>
        <a href="">Política Cookies</a>
        <a href="">Aviso Legal</a>
  </div>
</footer>
