<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CARTA DIGITAL</title>
  <link rel="stylesheet" href="./css/nosotros.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light pe-5 ps-5">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html"><img src="./assets/img/bdbed3a7a1434cb8ba34ee616455bf86.png"
            alt="logo" class="logo" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="menu.html">CARTA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="nosotros.html">NOSOTROS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contactanos.html">CONTACTANOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ingresar.html">PERFIL</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <section class="about-section">
    <h1>Sobre nosotros</h1>
    <img src="./assets/img/chef.jpeg" alt="Chef cocinando" class="aboutUs-img" />
    <div class="text-container">
      <p class="first-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla risus orci, auctor
        pretium eros nec,
        tincidunt tincidunt sapien. Duis tincidunt vitae nibh sit amet facilisis. Maecenas id tortor in tellus
        ultrices rutrum commodo quis turpis.</p>
      <p>Quisque lobortis erat sit amet lacinia facilisis. In at dignissim lorem. Cras eget scelerisque dolor. Duis
        facilisis bibendum neque, sit amet dapibus ligula ornare nec. Sed accumsan pulvinar nibh sit amet
        auctor. Sed euismod libero et ante porta hendrerit. Nulla nec efficitur odio, laoreet vehicula ligula. In
        non diam id justo fringilla auctor eu sit amet sapien. Fusce congue quam vel dignissim vulputate.</p>
    </div>
  </section>
  <section class="history-section">
    <h2>Nuestra historia</h2>
    <div class="text-container">
      <p class="first-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla risus orci, auctor
        pretium eros nec,
        tincidunt tincidunt sapien. Duis tincidunt vitae nibh sit amet facilisis. Maecenas id tortor in tellus
        ultrices rutrum commodo quis turpis.</p>
      <p>Quisque lobortis erat sit amet lacinia facilisis. In at dignissim lorem. Cras eget scelerisque dolor. Duis
        facilisis bibendum neque, sit amet dapibus ligula ornare nec. Sed accumsan pulvinar nibh sit amet
        auctor. Sed euismod libero et ante porta hendrerit. Nulla nec efficitur odio, laoreet vehicula ligula. In
        non diam id justo fringilla auctor eu sit amet sapien. Fusce congue quam vel dignissim vulputate.</p>
    </div>
  </section>
  <section class="chefs-section">
    <h3>Nuestros chefs</h3>
    <div class="cards-container">
      <article class="chef-card">
        <div class="chefCard-front">
          <img src="./assets/img/chef1.jpg" class="chefCard-img" />
          <h4>Martín Regrán</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla risus orci, auctor
            pretium eros nec,
            tincidunt tincidunt sapien.</p>
        </div>
      </article>

      <article class="chef-card">
        <div class="chefCard-front">
          <img src="./assets/img/chef2.jpg" class="chefCard-img" />
          <h4>Fernanda Simes</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla risus orci, auctor
            pretium eros nec,
            tincidunt tincidunt sapien.</p>
        </div>
      </article>

      <article class="chef-card">
        <div class="chefCard-front">
          <img src="./assets/img/chef3.jpg" class="chefCard-img" />
          <h4>Marco Villafañe</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla risus orci, auctor
            pretium eros nec,
            tincidunt tincidunt sapien.</p>
        </div>
      </article>

      <article class="chef-card">
        <div class="chefCard-front">
          <img src="./assets/img/chef4.jpg" class="chefCard-img" />
          <h4>Rocío Zárate</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla risus orci, auctor
            pretium eros nec,
            tincidunt tincidunt sapien.</p>
        </div>
      </article>
    </div>

  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</body>

</html>