<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light pe-5 ps-5">
          <div class="container-fluid">
            <a class="navbar-brand" href="./index.html"
              ><img
                src="./assets/img/bdbed3a7a1434cb8ba34ee616455bf86.png"
                alt="logo"
                class="logo"
            /></a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div
              class="collapse navbar-collapse"
              id="navbarNav"
            >
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="./menu.html"
                    >CARTA</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">NOSOTROS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./contactanos.html">CONTACTANOS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./ingresar.html">PERFIL</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    
      <main class="main-profile">
        <h2>Registrarme</h2>
        <form class="form-profile">
          <div class="form-buttons d-flex justify-content-center">
            <button type="button" class="btn btn-warning m-2"><a href="./ingresar.html">Iniciar Sesión</a></button>
            <button type="button" class="btn btn-warning m-2 active"><a href="./registrar.html">Registrarme</a></button>
          </div>
          <div class="col-12">
            <input type="text" class="input-form form-control" id="inputAddress" placeholder="Nombre y Apellido" required>
          </div>
          <div class="col-12">
            <input type="text" class="input-form form-control" id="inputAddress2" placeholder="Identificación" required>
          </div>
            <div class="col-md-12">
              <input type="email" class="input-form form-control" id="inputEmail4" placeholder="Email" required>
            </div>
            <div class="col-md-12">
              <input type="password" class="input-form form-control" id="inputPassword4" placeholder="Contraseña" required>
            </div>        
       
          <button type="submit" class="btn btn-warning mt-4">Registrarme</button>
        </form>
      </main>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    
</body>
</html>